.head {
  height: var(--header-height);
  width: 100%;
  padding: 0 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 24;
  box-shadow: var(--shadow-01);
  border-bottom: var(--border-01);
  background: var(--bg-01);
}
.head-box-left {
  display: flex;
  align-items: center;
  gap: var(--gap-03);
}
.head-box-left img {
  width: 2.8rem;
  position-fit: cover;
}
.head-nav {
  display: flex;
  align-items: center;
  gap: var(--gap-02);
}
.nav-links {
  padding: 0 0.25rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid transparent;
}
.nav-links:hover {
  border-bottom: 1px solid var(--brand-01);
}
.nav-links.activeNav {
  color: var(--brand-01);
  border-bottom: 1px solid var(--brand-01);
}
/* ======== BOX RIGHT ======== */
.head-box-right {
  display: flex;
  align-items: center;
  gap: var(--gap-02);
}
/* ======== SEARCH ======= */
/* CONTAINER */
.search-box {
  position: relative;
  width: var(--width-bar);
  height: 42px;

  display: flex;
  align-items: center;

  background: var(--bg-05);
  border: var(--border-01);
  border-radius: var(--radius-02);

  padding-inline: 40px 36px;
  transition: var(--anima-01);
}

/* HOVER / FOCUS */
.search-box:focus-within {
  background: var(--bg-06);
  border-color: var(--brand-04);
  box-shadow: var(--shadow-brand);
}

/* INPUT */
.search-box input {
  width: 100%;
  height: 100%;

  background: transparent;
  border: none;
  outline: none;

  font-family: var(--font-sans);
  font-size: 0.9rem;
  color: var(--text-01);
}

/* PLACEHOLDER */
.search-box input::placeholder {
  color: var(--text-03);
}

/* ICON SEARCH */
.search-icon {
  position: absolute;
  left: 14px;

  font-size: 18px;
  color: var(--text-03);
  pointer-events: none;
}

/* ICON CLEAR */
.clear-icon {
  position: absolute;
  right: 12px;

  font-size: 18px;
  color: var(--text-03);
  cursor: pointer;

  opacity: 0;
  transform: scale(0.8);
  transition: var(--anima-01);
}

/* MOSTRAR CLEAR QUANDO TEM TEXTO */
.search-box input:not(:placeholder-shown) ~ .clear-icon {
  opacity: 1;
  transform: scale(1);
}

/* HOVER NO CLEAR */
.clear-icon:hover {
  color: var(--brand-01);
}

/* ACCESSIBILITY */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
/* REMOVE O X NATIVO DO INPUT SEARCH */
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

/* Firefox */
input[type='search'] {
  -moz-appearance: textfield;
}

/* Safari / Chrome */
input[type='search'] {
  -webkit-appearance: none;
}

/* ======== AVATAR ======== */
.avatarBtn {
  display: flex;
  align-items: center;
}
.avatarBtn img {
  width: 2.25rem;
  object-fit: cover;
  border-radius: var(--radius-01);
}
