.main {
  padding: 0 8rem;
  padding-top: var(--header-height);
}
.main-banner {
  width: 100%;
  margin-bottom: var(--gap-04);
  display: flex;
  align-items: center;
  position: relative;
  border-radius: var(--radius-02);
  box-shadow: var(--shadow-banner);

  & h1 {
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  & img {
    height: 200px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: local;
    background-size: cover;
    border-radius: var(--radius-02);
  }
  & .subtitle {
    align-items: center;
    position: absolute;
    bottom: 3.5rem;
    left: 50%;
    transform: translateX(-50%);
  }
}

/* === error page === */
.pageErrorhidden {
  display: none;
}
.error-page {
  min-height: 60vh;
  display: grid;
  place-content: center;
  text-align: center;
  gap: 12px;
}

.error-page h1 {
  font-size: 4rem;
}

.error-actions {
  display: flex;
  justify-content: center;
  gap: 12px;
}
