.main {
  padding: 0 8rem;
  padding-top: var(--header-height);
}
.main-banner {
  width: 100%;
  margin-bottom: var(--gap-04);
  display: flex;
  align-items: center;
  position: relative;
  border-radius: var(--radius-02);
  box-shadow: var(--shadow-banner);

  & h1 {
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  & img {
    height: 200px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: local;
    background-size: cover;
    border-radius: var(--radius-02);
  }
  & .subtitle {
    align-items: center;
    position: absolute;
    bottom: 3.5rem;
    left: 50%;
    transform: translateX(-50%);
  }
}
.submenu-link {
  padding: 0 0.25rem;
  display: flex;
  gap: var(--gap-04);
  position: absolute;
  top: 10rem;
  left: 50%;
  border-radius: var(--radius-02);
  background: var(--funds-02);
  transform: translateX(-50%);
}
/* === error page === */
.pageErrorhidden {
  display: none;
}
.error-page {
  min-height: 60vh;
  display: grid;
  place-content: center;
  text-align: center;
  gap: 12px;
}

.error-page h1 {
  font-size: 4rem;
}

.error-actions {
  display: flex;
  justify-content: center;
  gap: 12px;
}

/* about page */
.about-section {
  padding: 0.25rem;
}
.art-we,
.art-target,
.art-attencion {
  margin-bottom: 0.75rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  gap: var(--gap-04);
  border-bottom: 1px solid var(--brand-01);
}
.art-we img,
.art-target img,
.art-attencion img {
  width: 12rem;
  object-fit: cover;
}
.art-we h2,
.art-target h2,
.art-attencion h2 {
  font-size: 1.75rem;
  color: var(--brand-01);
}

/* Section */
.about-caracts {
  display: flex;
  flex-direction: column;
  gap: var(--gap-04);
}
.about-prs {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  gap: var(--gap-04);
  border: var(--border-02);
  border-radius: var(--radius-03);
  transition: var(--anima-01);
}
.about-prs:hover {
  border-color: var(--brand-01);
  box-shadow: var(--shadow-banner);
  transform: translateY(-7px);
}
.about-prs img {
  width: 15rem;
  object-fit: cover;
  transition: var(--anima-01);
  transform: scale(1) perspective(1000px) rotateY(0deg);
}
.about-prs img:hover {
  transform: scale(1.05) perspective(2000px) rotateY(20deg);
}
.streamer-tags {
  margin: 0.75rem 0 1.25rem 0;
}

.social-streamers h3 {
  margin: 0.75rem 0;
}
.social-streamers div {
  display: flex;
  align-items: center;
  gap: var(--gap-04);
}
.social-streamers a {
  display: flex;
  align-items: center;
  gap: var(--gap-02);
}
