.sect-main {
  height: 100vh;
  background-image: url(/asset/briefing/bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.auth-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  inset: 0;
  z-index: 10;
  background: var(--funds-02);
  backdrop-filter: var(--blur-3);
  transition: var(--anima-01);
}
.auth-container {
  width: 40%;
  height: 80vh;
  display: flex;
  position: relative;
  /* overflow: hidden; */
  background: var(--bg-02);
  box-shadow: var(--shadow-03);
  border-radius: var(--radius-04);
  animation: authIn 0.4s ease;
}
.auth-content {
  /* position: relative; */
}
.auth-form {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: var(--gap-02);
  position: absolute;
  inset: 0;
  opacity: 0;
  transform: translateX(20px);
  pointer-events: none;
  transition: var(--anima-01);
}
.auth-form.active {
  opacity: 1;
  transform: translateX(0);
  pointer-events: auto;
}
.auth-form h2 {
  margin-bottom: var(--space-5);
  font-size: 2rem;
  color: var(--text-01);
}
.label-input {
  display: flex;
  align-items: center;
  gap: var(--gap-01);
  color: var(--text-03);
}
.label-input ion-icon {
  font-size: 1.2rem;
  color: var(--text-03);
}
.auth-form input {
  width: 100%;
  padding: var(--space-3);
  margin-bottom: var(--space-3);
  color: var(--text-01);
  outline: var(--border-01);
  border: none;
  background: var(--bg-01);
  border-radius: var(--radius-02);
  transition: var(--anima-01);
}
.auth-form input:hover {
  outline: 1px solid var(--brand-01);
}
.auth-form input:focus {
  outline: 1px solid var(--brand-01);
}
.auth-form button {
  width: 100%;
  padding: var(--space-3);
  background: var(--brand-01);
  color: var(--bg-01);
  border: 1px solid transparent;
  border-radius: var(--radius-02);
  font-weight: 600;
  cursor: pointer;
  box-shadow: var(--shadow-btns);
  transition: var(--anima-01);
}
.auth-form button:hover {
  color: var(--brand-01);
  background: var(--bg-01);
  border: 1px solid var(--brand-01);
}
.auth-form p {
  margin-top: var(--space-3);
  color: var(--text-03);
  font-size: 0.85rem;
}

.switch {
  color: var(--brand-01);
  cursor: pointer;
}

/* ANIMATION */
@keyframes authIn {
  from {
    transform: scale(0.95);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
