.suggestion-section {
  height: 57.8vh;
  width: 100%;
  padding: 2rem 0;
}
.suggestion-box h1 {
  margin-bottom: 0.5rem;
}

.suggestion-box form {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.suggestion-box input,
.suggestion-box textarea {
  padding: 0.75rem;
  color: var(--text-01);
  outline: none;
  border: var(--border-02);
  border-radius: 8px;
  background: var(--funds-01);
  transition: var(--anima-01);
}
.suggestion-box textarea {
  min-height: 120px;
  resize: vertical;
}
.suggestion-box textarea:hover {
  border-color: var(--brand-01);
}
.suggestion-box textarea:focus {
  border-color: var(--brand-01);
}
.suggestion-box button {
  padding: 0.75rem;
  font-weight: 600;
  color: var(--bg-01);
  border: none;
  border-radius: 8px;
  background: var(--brand-01);
  transition: var(--anima-01);
  &:hover {
    color: var(--brand-01);
    background: var(--bg-01);
  }
}

.suggestion-box button:hover {
  opacity: 0.9;
}

#feedback {
  margin-top: 1rem;
  font-size: 0.9rem;
}
