.post-card {
  width: 100%;
  margin-bottom: 1rem;
  padding: 1rem;
  border: var(--border-02);
  border-radius: var(--radius-03);
  transition: var(--anima-01);
}
.post-card:hover {
  border: 1px solid var(--brand-01);
}
.post-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* left */
.box-info-left {
  display: flex;
  align-items: center;
  gap: var(--gap-02);
}
.box-info-left strong {
  font-size: 1.1rem;
}
.box-info-left span {
  font-size: 0.84rem;
  color: var(--text-02);
  &:hover {
    text-decoration: underline;
    color: var(--brand-01);
  }
}
.box-info-left img {
  height: 3.5rem;
  width: 3.5rem;
  object-fit: cover;
  border-radius: 50%;
}
.user-info {
  display: flex;
  flex-direction: column;
}

/* Right */
.box-info-right {
  color: var(--text-02);
}
.post-body {
  margin: 0.5rem 0;
}
.post-content {
  max-height: 4.5rem;
  overflow: hidden;
  word-break: break-word;
  overflow-wrap: anywhere;
  /* white-space: pre-wrap; */
  /* line-height: 1.5; */
  transition: max-height 0.3s ease;
}
.post-content.collapsed {
  max-height: 6.6em;
  overflow: hidden;
}
.see-more {
  background: none;
  border: none;
  color: var(--text-01);
  font-weight: 600;
  cursor: pointer;
  padding: 0;
  margin-top: 0.25rem;
}
.see-more:hover {
  text-decoration: underline;
  color: var(--brand-01);
}

.post-stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: var(--border-02);
  border-bottom: var(--border-02);
  padding: 0.5rem 0;
  margin-top: 0.5rem;
}
.post-interactions {
  margin-right: auto;
}
.post-interactions-2 {
  margin-left: auto;
}
.post-interactions,
.post-interactions-2 {
  display: flex;
  gap: 1rem;
}

.post-footer span {
  display: flex;
  align-items: center;
}
.post-footer ion-icon {
  margin-right: 0.5rem;
  font-size: 1.1rem;
}
/* Interativos */
.post-interac-base {
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: var(--radius-02);
  transition: var(--anima-01);
}
/* Like */
.post-likes {
  background: var(--danger-bg-01);
}
.post-likes ion-icon {
  color: var(--danger-01);
}
.post-likes.liked {
  color: var(--brand-01);
}
/* Dislike */
.post-dislikes {
  background: var(--bg-03);
}
/* Comments */
.post-comments {
  background: var(--bg-03);
}
.post-likes:hover,
.post-dislikes:hover,
.post-comments:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.post-tags {
  margin-top: 0.5rem;
  display: flex;
  gap: var(--gap-03);
}
.tag {
  padding: 0.25rem 0.75rem;
  font-size: 0.8rem;
  border-radius: var(--radius-03);
  background: var(--bg-03);
  transition: var(--anima-01);
}
.tag:hover {
  background: var(--brand-05);
}
