/* ================= AUTH MODAL ================= */
.auth-modal {
  position: fixed;
  inset: 0;
  background: var(--funds-03);
  backdrop-filter: var(--blur-3);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: var(--anima-01);
  z-index: 100;
}

.auth-modal.show {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

/* ================= AUTH CONTAINER ================= */
.auth-container {
  width: 900px;
  height: 520px;
  background: var(--bg-02);
  border-radius: var(--radius-04);
  display: flex;
  overflow: hidden;
  box-shadow: var(--shadow-03);
  animation: authIn 0.4s ease;
  position: relative;
}

/* CLOSE */
.auth-close {
  position: absolute;
  top: var(--space-3);
  right: var(--space-3);
  background: transparent;
  border: none;
  color: var(--text-02);
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 10;
}

/* IMAGE */
.auth-image {
  width: 50%;
}
.auth-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* CONTENT */
.auth-content {
  width: 50%;
  padding: var(--space-9);
  position: relative;
}

/* FORMS */
.auth-form {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: var(--gap-02);
  position: absolute;
  inset: 0;
  opacity: 0;
  transform: translateX(20px);
  pointer-events: none;
  transition: var(--anima-01);
}

.auth-form.active {
  opacity: 1;
  transform: translateX(0);
  pointer-events: auto;
}

.auth-form h2 {
  color: var(--text-01);
  margin-bottom: var(--space-5);
}

.auth-form input {
  width: 100%;
  padding: var(--space-3);
  margin-bottom: var(--space-3);
  color: var(--text-01);
  outline: var(--border-01);
  border: none
  background: var(--bg-01);
  border-radius: var(--radius-02);
  transition: var(--anima-01);
}
.auth-form input:hover {
  outline: 1px solid var(--brand-01);
}
.auth-form input:focus {
  outline: 1px solid var(--brand-01);
}

.auth-form button {
  width: 100%;
  padding: var(--space-3);
  background: var(--brand-01);
  color: var(--bg-01);
  border: 1px solid transparent;
  border-radius: var(--radius-02);
  font-weight: 600;
  cursor: pointer;
  box-shadow: var(--shadow-btns);
}
.auth-form button:hover {
  color: var(--brand-01);
  background: var(--bg-01);
  border: 1px solid var(--brand-01);
}
.auth-form p {
  margin-top: var(--space-3);
  color: var(--text-03);
  font-size: 0.85rem;
}

.switch {
  color: var(--brand-01);
  cursor: pointer;
}

/* ANIMATION */
@keyframes authIn {
  from {
    transform: scale(0.95);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
